flask
flask-cors
requests
pandas
gunicorn
datetime
numpy
redis
ta
yfinance==0.2.54
scipy
bokeh
pytz
# Database
psycopg2-binary==2.9.9
python-dotenv==1.0.0
eventlet==0.33.3
flask-socketio==5.3.4
python-socketio==5.8.0
python-engineio==4.5.1
flask_caching
TA-Lib==0.4.24; sys_platform == 'win32'
https://github.com/mrjbq7/ta-lib/releases/download/v0.4.24/TA_Lib-0.4.24-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl; sys_platform == 'linux'
