flask
flask-cors
requests
pandas
gunicorn
datetime
numpy
redis
ta
scipy
bokeh
pytz
# Database
psycopg2-binary==2.9.9
python-dotenv==1.0.0
flask-socketio==5.3.4
python-socketio==5.8.0
python-engineio==4.5.1
flask_caching
git+https://github.com/bretsky/yfinance.git@fix/curl-cffi-cookies
#eventlet==0.33.3
protobuf
websockets
